:root {
    --bg-primary: #202124;
    --bg-secondary: #333333;
    --bg-secondary-hover: #464646;
    --white: #fff;
    --blue: #5865f2;
    --light-blue: #8891f2;
    --green: #57F287;
    --red: #ED4245;
    --grey: #bdbdbd;
    --tertiary-color: #39495e;
    --text-secondary-color: #7c8997;
}

@media (max-width: 660px) {
    .service-panel {
        flex-direction: column;
    }

    .service-panel-right {
        margin-top: 20px;
    }
}

html,
body {
    width: 100%;
    margin: 0;
    padding: 0;
    background-color: var(--bg-primary);
    color: var(--white);
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif
}

button {
    all: unset;
    position: relative;
    user-select: none;
    cursor: pointer;
    box-sizing: border-box;
    text-align: center;
    background-color: var(--blue);
    color: var(--white);
    padding: 14px 20px;
    border-radius: 28px;
    font-size: 18px;
}

button[loading] {
    color: transparent;
}

button[loading]::after {
    content: url("https://cdn.discordapp.com/attachments/672186923107745850/1012079519487758416/loader1.png");
    filter: invert(100%);
    animation: spin 1s linear infinite;
    display: block;
    position: absolute;
    right: 50%;
    top: 50%;
    transform: translate(50%, -50%);
    width: 24px;
    height: 24px;
}

button:hover:not([loading]) {
    outline: 0;
    background-color: var(--light-blue);
    box-shadow: 0 2px 9px 0 rgba(136, 145, 242, 0.44);
    transform: translate(0px, -2px);
    transition: box-shadow 300ms ease, transform 300ms ease, background-color 300ms ease, -webkit-transform 300ms ease;
}

button:active {
    background-color: var(--blue) !important;
}

@keyframes spin {
    100% {
        transform: translate(50%, -50%) rotate(360deg);
    }
}

#root {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    padding: 20px 0;
    background-color: var(--bg-primary);
}

.hidden {
    /* visibility: hidden; */
    display: none !important;
}

.service-panel {
    display: flex;
    justify-content: space-between;
    width: 100%;
    background-color: var(--bg-secondary);
    border-radius: 12px;
    padding: 12px;
    box-sizing: border-box;
    user-select: none;
    margin-bottom: 20px;
}

.service-panel:last-child {
    margin-bottom: 0px;
}

.service-panel:hover {
    user-select: none;
    background-color: var(--bg-secondary-hover);
}

.service-panel-wrapper {
    width: fit-content;
}

.service-panel-left,
.service-panel-right {
    display: flex;
}


.service-panel-avatar {
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.service-panel-name {
    margin-right: 20px;
}

.service-panel-name>p {
    font-size: 14px;
}

.service-panel-restart {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    margin-right: 20px;
}

.service-panel-restart>button {
    width: 100%;
}

.service-panel-tw {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.service-panel-tw>button {
    width: 100%;
}

.avatar>img {
    width: 52px;
    height: 52px;
    margin-right: 14px;
}

.status {
    position: absolute;
    width: 18px;
    height: 18px;
    top: 44px;
    left: 34px;
    box-sizing: border-box;

    border-radius: 100px;
    box-shadow: 0 0 2px rgb(0, 0, 0);
}

.status.online {
    background-color: var(--green);
}

.status.offline {
    background-color: var(--red);
}

.status.loading {
    background-color: var(--grey);
}

.title>p {
    font-size: 14px;
}

.subtitle>p {
    color: var(--text-secondary-color);
    font-size: 14px;
}
